@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --fw-normal: 400;
    --fw-medium: 500;
    --fw-bold: 700;
    --ff-base: 'Roboto', sans-serif;

    --first-color: #ffb566;
    --button-color: #2b2b2b;
    --button-color-alt: #363636;
    --title-color: #262626;
    --text-color: #595959;
    --text-color-light: #8c8c8c;
    --body-color: #fcfcfc;

    --base-width: 1024px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--title-color);
    font-weight: var(--fw-medium);
}

a {
    text-decoration: none;
    color: inherit;
}

i {
    size: 1rem;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.container {
    width: var(--base-width);
    margin: 0 auto
}

input,
textarea,
selector,
button {
    font: inherit;
    color: inherit;
}

.body {
    background-color: var(--body-color);
    color: var(--text-color);
    font-family: var(--ff-base);
    font-weight: var(--fw-normal);
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.main {
    flex: 1;
}

.header {
    width: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1400;
}

.header-inner {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 3rem;
}

.logo, .header-btn {
    color: var(--title-color);
}

.logo {
    text-transform: uppercase;
    font-weight: var(--fw-bold);
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    column-gap: .25rem;
    font-size: 1.25rem;
}

.header-btns {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    margin-left: auto;

}

.header-btn {
    background-color: transparent;
    border: 0;
}

.btn-menu, .btn-close {
    display: none;

}

.btn-close {
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 1rem;
    right: 1.25rem;
}

/* .footer {
    margin-top: 50px;
    padding: 20px;
    background-color: var(--first-color);
    text-align: center;
} */

/* .clearfix::after {
    clear: both;
    display: table;
    content: "";
}

.about {
    margin-top: 100px;
    padding: 30px;
}

.details {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: var(--fw-bold);
} */

.nav-list {
    display: flex;
    column-gap: 2.5rem;
    justify-content: center;
    align-items: center;
}

.nav-list-link {
    color: var(--title-color);
    font-size: 1.25rem;
    font-weight: var(--fw-medium);
    transition: color .1 ease-in-out;
}

.nav-list-link-hover {
    color: var(--first-color);
}