* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 248, 238);
    padding: 30px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    min-width: 800px;
    margin: 0 auto;
    gap: 20px
}

/*body::before {
    content: '';
    position: fixed; /* Фиксируем на одном месте 
    left: 0; right: 0; /* Вся ширин 
    top: 0; bottom: 0; /* Вся высота 
    z-index: -1; /* Фон ниже текста 
    background: url('../img/okf.png');
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(10px);
    filter: grayscale(10px);
} */

.main-nav {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
}

.main-nav-item {
    display: block;
    transition: transform 300ms, 
                margin 300ms, 
                color 100ms ease-in-out;
}

.main-nav-item:visited {
    color: rgb(23, 131, 150);
}

.main-nav-item:hover {
    transform: scale(1.1);
    transform: rotate(3deg);
    margin-left: 5px;
    margin-right: 5px;
    cursor: grab;
    color: rgb(0, 183, 255);
}

.main-nav-item:active {
    transform: scale(0.9);
    color: rgb(6, 158, 185);
}

.main-container {
    padding: 20px;
    box-shadow:rgb(255, 158, 102) 0 0 5px
}

.main-header {
    position: sticky;
    top: 6px;
    background-color: rgb(255, 211, 150);
    border-radius: 20px;
    border: 4px solid rgb(248, 124, 52);
}

.main {
    background-color: rgb(255, 230, 194);
    border-radius: 20px;
    border: 4px dashed rgb(255, 158, 102);
}

.main-footer {

    background-color: rgb(255, 230, 194);
    border-radius: 20px;
    border: 4px dashed rgb(255, 158, 102);
    display: flex;
    justify-content: space-between;

}

.main-heading {
    font-family: 'Segoe UI';
    font-size: 56px;
    margin-bottom: 20px;
}
.chapter-heading {
    font-family: 'Segoe UI';
    font-size: 44px;
    margin-bottom: 10px;
}
.sub-heading {
    font-family: 'Segoe UI';
    font-size: 36px;
    margin-bottom: 10px;
}

.txt {
    font-family: Arial, Helvetica, sans-serif;
}

.link {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
    margin-left: 5px;
}



.align-right {
    text-align: right;
}
.align-center {
    text-align: center;
}

.nav-numbers-with-zeros-markers {
    list-style-type: decimal-leading-zero;
}

.pre-footer {
    margin-bottom: 120px;
}

.block {
    display: block;
}

.img-float {
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
}

.img-float-right {
    float: right;
    margin-bottom: 10px;
    margin-right: 10px;
}

.secretz {
    display: hidden;
}