* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 2rem;
}

button {
    font-family: inherit;
}

.btn {
    border-radius: 0.5rem;
    box-shadow: 0 4px 16px hsla(0, 0%, 60%, .1);
    transition-duration: 0.25s;
    padding: 0.75rem 2rem;
    font-weight: 700;
    border: none;
    color: white;

    &:hover {
        box-shadow: 0 4px 16px hsla(0, 0%, 100%, .2);
        padding: 0.7rem 1.9rem;
    }
}

.svg {
    display: block;
}

.btn--green {
    background-color: rgb(16, 197, 16);
}

.btn--red {
    background-color: red;
}

.tic-tac-toe {
    --container-padding: 2rem;
    --cell-width: 10rem;
    --cell-color: bisque;
    --lines-color: rgb(140, 140, 140);
    --lines-width: .5rem;
    --mark-color: black;
    --field-size: 3; /* sets by js */
    --field-width: calc(
        (var(--field-size) - 1) * var(--lines-width) +
        var(--field-size) * var(--cell-width)
    );
    box-sizing: content-box;
    width: var(--field-width);
    padding: var(--container-padding);
    border: 2px solid black;
    border-radius: var(--container-padding);
}

.tic-tac-toe__header {
    width: var(--field-width);
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: .5rem;
    font-size: 1.5rem;
    padding: 1rem;
}

.tic-tac-toe__info {
    text-align: center;
}

.tic-tac-toe__field {
    width: var(--field-width);
    aspect-ratio: 1;
    display: grid;
    grid-template-columns: repeat(var(--field-size), 1fr);
    grid-template-rows: repeat(var(--field-size), 1fr);
    gap: var(--lines-width);
    background-color: var(--lines-color);
}

.tic-tac-toe__cell {
    padding: 10%;
    background-color: var(--cell-color);
    transition-duration: 200ms;
}

.tic-tac-toe__cell--empty:hover {
    opacity: .7;
}