* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(255, 111, 0);
    font-family: "Jost", sans-serif;
     font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.main-title {}

html {
    cursor: url(../img/cursor2.png), auto;
}

.link {
    text-decoration: none;
    transition: transform 100ms, 
                margin 100ms, 
                color 100ms ease-in-out;
}

.link:hover {
    transform: scale(1.1);
    margin-left: 5px;
    margin-right: 5px;
    color: rgb(255, 94, 0);
}

.link:active {
    transform: scale(0.9);
    color: rgb(255, 156, 64);
}

.btn {
    text-decoration: none;
    border: 2px solid rgb(255, 111, 0);
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    transition: background-color 100ms ease-in-out,
                color 100ms ease-in-out,
                transform 100ms ease-in-out;
}

.btn:hover {
    background-color: rgb(255, 111, 0);
    color: white;
}

.btn:active {
    transform: scale(0.9);
    background-color: white;
    color: rgb(255, 111, 0);
}

.one-line-flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

.one-column-flex-container {
    width: 100vw;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.three-column-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background-image: radial-gradient(rgb(255, 81, 0), rgb(255, 195, 132) );
    padding: 60px;
    gap: 20px;
    align-content: stretch;
}   

.main-container {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    border: 4px solid rgb(224, 143, 50);
    margin: 0 auto;
    min-width: 720px;
    max-width: 1600px;
    width: 100vw
}

.main-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.main-nav {}

.main {
    flex-grow: 2;
}

.cards {}

.card {
    background-color: rgb(255, 111, 0);
    color: white;
    padding: 20px;
    border-radius: 15px;
    display: grid;
    gap: 10px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1.5em;
    grid-template-areas:
        "img title"
        "img price"
        "txt txt"
        "btn btn";
}

.card > .sub-title {
    color: white;
    font-weight: 400;
    grid-area: title;
}
.card > .card-price {
    font-size: 24px;
    color: white;
    grid-area: price;
}
.card > .img {
    grid-area: img;
    display: block;
    width: 100%;
}
.card > .txt {
    grid-area: txt;
    color: white;
}
.card > .btn {
    grid-area: btn;
    color: white;
    background-color:rgb(255, 111, 0);
    border: 2px solid rgb(255, 255, 255);
}

.card > .btn:hover {
    transform: scale(0.9);
    background-color: rgb(255, 111, 0);
    color: rgb(255, 255, 255);
}

.card > .sub-title::selection,
.card > .txt::selection {
    color: blueviolet;
    background-color: white;
}

.main-footer {}

.main-header-title {
    font-family: "Jost", sans-serif;
     font-optical-sizing: auto;
    font-weight: 800;
    font-style: italic;
    font-size: 36px;
    text-decoration: none; 
}

.chapter-heading {
    font-size: 28px;
    margin-bottom: 10px;
}
.sub-heading {
    font-size: 22px;
    margin-bottom: 10px;
}

.main-header-nav {}

.main-header-nav-item {
}

.minecraft {
    background-image: url(../img/minecraft.gif);
    background-size: cover;
    background-repeat: no-repeat;
}